<header>
    <!-- *******************  Carousel  *******************  -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {{#each urldestacadas}}
            <div class="carousel-item" style="background-image: url('{{this}}')"></div>
            {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
</header>
<!-- *******************  Fin del Carousel  *******************  -->
<!-- *******************  Carousel 2  *******************  -->

<!-- *******************  Fin del Carousel 2  *******************  -->
<!-- *******************  Categorías  *******************  -->
<section class="py-5">
    <div class="container">
        <div class="text-center">
            <h1 class="text-uppercase pb-2">
                Categorías
            </h1>
            <p class="py-2">
                Estas son algunas de las categorías que encontrarás en la página. Puedes hacer busqueda de cada una de
                las
                siguientes opciones.
            </p>
        </div>
        <hr />
        <div class="container">
            <div class="row mx-auto">
                {{#each categorias}}
                <button type="button" class="btn btn-secondary btn-lg mx-auto my-2">{{this}}</button>
                {{/each}}
            </div>
        </div>
    </div>
</section>
<!-- *******************  Fin de Categorías  *******************  -->
<hr class="container">
</hr>
<!-- *******************  Fotos destacadas  *******************  -->
<section class="py-5">
    <div class="text-center pb-2">
        <h1 class="text-uppercase pb-2">
            Fotos destacadas
        </h1>
        <p class="py-2">
            Estas son algunas de las imágenes destacadas de la página. Puedes hacer busqueda de cada uno de los
            fotógrafos.
        </p>
    </div>
    <div class="container">
        {{#each fotosdestacadas}}
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{urlfoto}}" alt="imgDestacada">
                    <div class="card-body">
                        <h2 class="card-title">{{titulofoto}}</h2>
                        <p class="card-text">{{captionfoto}}</p>
                        <a href="/fotografos/{{fotografos._id}}" class="btn btn-secondary">{{fotografo}} &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{fechafoto}}
                        {{#each tags}} 
                        <a class="text-warning" href="#">{{this}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
<!-- *******************  Fin de fotos destacadas  *******************  -->
<!-- *******************  Contacto  *******************  -->
<div class="container-fluid py-3 contact-background">
    <div class="card container contact-form">
        <div class="contact-image">
            <img src="img/rocket-1976107_1280.png" alt="rocket_contact" />
        </div>
        <form method="post">
            <h3 class="text-dark">Dejanos un mensaje</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Nombre *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtEmail" class="form-control" placeholder="E-Mail *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPhone" class="form-control" placeholder="Numero de teléfono *"
                            value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact btn-warning" value="Enviar" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control" placeholder="Escribe el mensaje. *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- *******************  Fin de Contacto  *******************  -->